.form {
  width: 100%;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.wordInput {
  display: none;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

/* TODO: maybe add this to global styles */
.label {
  display: block;
  margin-bottom: 4px;
}

/* TODO: maybe add this to global styles */
.input, .textarea {
  width: 400px;
}

/* TODO: add breakpoint variables */
/* TODO: maybe add this to global styles */
@media screen and (max-width: 600px) {
  .input, .textarea {
    width: 100%;
  }
}

/* TODO: maybe add this to global styles */
.textarea {
  /* textarea elements need the font styles added directly */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* for some reason the text looks different than the input field;
     tweaking the font size and weight helps them look the same */
  font-size: 0.9rem;
  font-weight: 800;
}

/* TODO: maybe add this to global styles */
.submit {
  display: block;
}