.iconButton {
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  padding: 8px 10px;
  fill: var(--text-color-light-mode);
  transition: background-color ease-out 0.2s;
}

.iconButton:hover {
  /* TODO: move these purple colors into global css variables */
  background-color: #f1e6ff;
}

@media (prefers-color-scheme: dark) {
  .iconButton {
    fill: var(--text-color-dark-mode);
  }

  .iconButton:hover {
    background-color: #6f00ff;
  }
}
