.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.options {
  display: block;
  margin-top: 8px;
}

.options > button:not(:last-child) {
  margin-right: 8px;
}