.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding: 3rem;
    max-width: 100%;
  }
}

.exampleSentence {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.explanation {
  margin-bottom: 8px;
}

.definition {
  font-size: 1.5rem;
  margin-bottom: 12px;
  font-weight: 600;
}

.inputAndOptions {
  margin: 32px 0;
}

.inputWrapper {
  margin-bottom: 16px;
}

.inputWrapper input {
  width: 100%;
  padding: 16px 10px;
}

.options {
  display: flex;
  margin-top: 8px;
  gap: 16px;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.reaction {
  margin-top: 32px;
}

.synonyms {
  margin-top: 24px;
}

.synonyms h2 {
  font-weight: 400;
  margin-bottom: 8px;
}

.synonyms ul {
  margin-left: 20px;
}

.synonym {
  margin-top: 4px;
}

.loadNextGame {
  margin-top: 32px;
}
