.main {
  margin: 0 auto;
  max-width: 896px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    padding: 3rem;
  }
}

.exampleSentenceWrapper {
  display: flex;
  align-items: flex-start;
}

.exampleSentence {
  flex-grow: 1;
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.explanation {
  margin-bottom: 8px;
}

.definition {
  font-size: 1.5rem;
  margin-bottom: 12px;
  font-weight: 600;
}

.inputWrapper {
  margin-bottom: 16px;
}

.inputWrapper input {
  width: 300px;
}

.inputWrapper input {
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.options {
  display: flex;
  margin-top: 8px;
  gap: 16px;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.reaction {
  margin-top: 32px;
}

.synonyms {
  margin-top: 24px;
}

.synonyms h2 {
  font-weight: 400;
  margin-bottom: 8px;
}

.synonyms ul {
  margin-left: 20px;
}

.synonym {
  margin-top: 4px;
}

.loadNextGame {
  margin-top: 32px;
}

.modalOverlay {
  background-color: rgba(0,0,0,0.5);
}

.modalContent {
  /* TODO: respect lighting themes */
  background-color: var(--bg-color-light-mode);
  padding: 2rem;
  max-width: 80%;
  width: auto;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .modalContent {
    background-color: var(--bg-color-dark-mode);
  }
}

